<template name="formCreatorForm">

	<form class="form-creator__form form-creator__form__{{ formName }}">
	
		{{#if options.showTitle }}

			<p class="form-creator__headline">
				{{ getFormProperty 'name' }}
			</p>

		{{/if}}

		{{#if options.showDescription }}

			<p class="form-creator__description">
				{{ getFormProperty 'description' }}
			</p>

		{{/if}}

		{{#if docToUpdate }}
			<input
				value="{{ docToUpdate._id }}"
				id="form-creator__{{ getFormProperty 'name' }}__id-to-update"
				name="_id"
				type="hidden" />
		{{/if}}
	
		{{#each fields }}

			<div class="
			form-creator__group
			{{#if isRequired 'boolean' }}form-creator__group--required{{/if}}
			">

				<label for="{{ getFieldId .. }}">
					{{#if required }}
						<span class="form-creator__group__required-star">*</span>
					{{/if}}
					{{ label }}
				</label>

				{{#if fieldTypeIs 'input' }}

					<input
					{{ isRequired 'string' }}
					id="{{ getFieldId .. }}"
					name="{{ getFieldId .. }}"
					type="{{ fieldType }}"
					value="{{ getDocToUpdateValue name }}" />

				{{/if}}

				{{#if fieldTypeIs 'select' }}

					<select
					{{ isRequired 'string' }}
					name="{{ getFieldId .. }}"
					id="{{ getFieldId .. }}">

						{{#each selectOptions }}

							<option value="{{ value }}" {{ selectOptionIsSelected ../name }}>{{ text }}</option>

						{{/each}}

					</select>

				{{/if}}

				{{#if fieldTypeIs 'textarea' }}

					<textarea
					{{ isRequired 'string' }}
					id="{{ getFieldId .. }}"
					name="{{ getFieldId .. }}"
					type="{{ fieldType }}">{{ getDocToUpdateValue name }}</textarea>

				{{/if}}

			</div>

		{{/each}}

		{{#if docToUpdate }}

			<input
				type="submit"
				data-submit-action="update-doc"
				value="{{#if options.textButtonUpdate }}{{ options.textButtonUpdate }}{{else}}Update{{/if}}" />

			{{#if options.deletable }}
				<input
					type="submit"
					data-submit-action="delete-doc"
					value="{{#if options.textButtonDelete }}{{ options.textButtonDelete }}{{else}}Delete{{/if}}" />
			{{/if}}

			<input
				type="submit"
				data-submit-action="cancel-update"
				value="{{#if options.textButtonCancel }}{{ options.textButtonCancel }}{{else}}Cancel{{/if}}" />

		{{else}}

			<input
				type="submit"
				data-submit-action="save-doc"
				value="{{#if options.textButtonSave }}{{ options.textButtonSave }}{{else}}Save{{/if}}" />

		{{/if}}

	</form>

</template>